p.heading {
    position: absolute;
width: 428px;
height: 56px;
left: 506px;
top: 800px;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 49px;
text-align: center;

color: #000000;
}

p.subject {
    position: absolute;
    width: 994px;
    /* height: 109px; */
    left: 223px;
    top: 850px;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    /* or 165% */
    
    text-align: center;
    letter-spacing: 0.2px;
    
    color: #000000;
    

} 

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
  
  .image {
    max-width: 10%;
    max-height: 100%;
    margin-right: 18%;
  }

  .image1 {
    max-width: 5%;
    max-height: 100%;
    margin-right: 18%;
  }

  .image2 {
    max-width: 5%;
    max-height: 100%;
    width: 18%;
  }

  .image3 {
      max-width: 5%;
      max-height: 100%;
      width: 18%;
  }

  .image4 {
    max-width: 5%;
      max-height: 100%;
      margin  : 18%;
  }

  .image5 {
    max-width: 5%;
      max-height: 100%;
      width: 18%;
  }

.first-head {
    position: absolute;
width: 284px;
height: 31px;
left: 230px;
top: 1110px;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 33px;
text-align: center;

color: #000000;
}

  .first-img {
    position: absolute;
width: 298px;
/* height: 84px; */
left: 210px;
top: 1180px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 156% */

text-align: center;
letter-spacing: 0.2px;

color: #000000;
  }

  .second-head {
    position: absolute;
width: 284px;
height: 31px;
left: 540px;
top: 1110px;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 33px;
text-align: center;

color: #000000;
}

  .second-img {
    position: absolute;
width: 298px;
/* height: 84px; */
left: 540px;
top: 1180px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 156% */

text-align: center;
letter-spacing: 0.2px;

color: #000000;
  }

  .third-head {
    position: absolute;
width: 284px;
height: 31px;
left: 840px;
top: 1110px;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 33px;
text-align: center;

color: #000000;
}

  .third-img {
    position: absolute;
width: 298px;
/* height: 84px; */
left: 830px;
top: 1180px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 156% */

text-align: center;
letter-spacing: 0.2px;

color: #000000;
  }

  .fourth-head {
    position: absolute;
width: 284px;
height: 31px;
left: 230px;
top: 1110px;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 290px;
text-align: center;

color: #000000;

  }

  .fourth-img {
    position: absolute;
  width: 298px;
  /* height: 84px; */
  left: 210px;
  top: 1560px;
  
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  
  text-align: center;
  letter-spacing: 0.2px;
  
  color: #000000;
  }

.fifth-head {
  position: absolute;
width: 284px;
height: 31px;
left: 540px;
top: 1495px;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 33px;
text-align: center;

color: #000000;
}

.fifth-img {
  position: absolute;
width: 298px;
/* height: 84px; */
left: 10 px;
top: 1560px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 156% */

text-align: center;
letter-spacing: 0.2px;

color: #000000;
}



.sixth-head {
  position: absolute;
  width: 284px;
  height: 31px;
  left: 840px;
  top: 1110px;
  
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 290px;
  text-align: center;
  
  color: #000000;
}

.sixth-img {
  position: absolute;
  width: 298px;
  /* height: 84px; */
  left: 830px;
  top: 1560px;
  
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  
  text-align: center;
  letter-spacing: 0.2px;
  
  color: #000000;
}






