.row{
background: url('../assets/Rectangle1.png');
display: table;
width: 100%;
}

.main-content {
    position: absolute;
width: 650px;
height: 164px;
left: 122px;
top: 150px;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 82px;
/* or 128% */


color: #000000;

}

.row1 {
    height: 650px;

}

p.subject1 {
    position: absolute;
width: 650px;
/* height: 99px; */
left: 122px;
top: 340px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 36px;
/* or 180% */

letter-spacing: 0.2px;

color: #000000;
}

.box {
    position: absolute;
width: 502px;
height: 73px;
left: 122px;
top: 533px;
border-radius: 8px;
}

input.textinput {
    position: absolute;
width: 502px;
height: 73px;
left: 122px;
top: 530px;

background: #FFFFFF;
border-radius: 8px;
border-color: #FFFFFF;
border-top: #FFFFFF;
border-left: #FFFFFF;
/* identical to box height, or 225% */

letter-spacing: 0.2px;
}

button.btn {
    position: absolute;
width: 136px;
height: 61px;
left: 482px;
top: 540px;

background: #F84646;
border-radius: 8px;
border-color: #F84646;
border-bottom: #F84646;
border-right: #F84646;
}

.link {
    color: white;
}

::placeholder {
width: 178px;
height: 36px;
left: 154px;
top: 552px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 36px;

/* identical to box height, or 225% */

letter-spacing: 0.2px;

color: rgba(0, 0, 0, 0.4);
}

.textinput {
    top: 590px;
}