div .contain {
    background: #F4F5F7;
}
.contain { 
display: table;

width: 100%;
display: flex;
flex-direction: column;
align-items: center;
padding: 59px 0px;
gap: 48px;
position: absolute;
left: 0%;
right: 0%;
top: 3200px;
height: 500px;
}

.head2 {
/* width: 1110px; */
height: 64px;


font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 64px;
text-align: center;
font-feature-settings: 'salt' on, 'liga' off;
color: #18191F;
flex: none;
order: 0;
flex-grow: 0;
}

.sub {
width: 100%;
height: 32px;
margin-top: 5px;
font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 32px;
text-align: center;
font-feature-settings: 'salt' on, 'liga' off;
color: #18191F;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.akbank {
    position: absolute;
    width: 110px;
    height: 96px;
    left: 600px;
    top: 280px;
    background: #FFFFFF;
    box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
    border-radius: 16px;
}

.akcan {
    position: absolute;
width: 110px;
height: 96px;
left: 600px;
top: 390px;
background: #FFFFFF;
box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
border-radius: 16px;
}

.tumunu {
    position: absolute;
    width: 110px;
    height: 99px;
    left: 600px;
    top: 490px;
    background: #FFFFFF;
    box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
    border-radius: 16px;
    margin-top: 10px;
}


.bilgi {
    position: absolute;
    width: 110px;
    height: 96px;
    left: 430px;
    top: 340px;
    background: #FFFFFF;
    box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
    border-radius: 16px;

}

.book {
    position: absolute;
    width: 110px;
    height: 96px;
    left: 430px;
    top: 440px;
    margin-top: 30px;
    background: #FFFFFF;
    box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
    border-radius: 16px;
}

.aktas {
position: absolute;
width: 110px;
height: 96px;
left: 770px;
top: 340px;
background: #FFFFFF;
box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
border-radius: 16px;
}



.borusan {
position: absolute;
width: 120px;
height: 96px;
left: 270px;
top: 390px;
background: #FFFFFF;
box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
border-radius: 16px;
}

.ola {
position: absolute;
width: 120px;
height: 96px;
left: 770px;
top: 420px;
margin-top: 50px;
background: #FFFFFF;
box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
border-radius: 16px;
}

.amazon {
    position: absolute;
width: 120px;
height: 96px;
left: 920px;
top: 390px;
background: #FFFFFF;
box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
border-radius: 16px;
}